* {
  box-sizing: border-box;
}
body{
  margin: 0;
  background-color: skyblue;
  width: 100%;
}

h1{
  text-align: center;
  margin: 20px;
  font-family: Helvetica;
  font-weight: bold;
}
.col4{
  float: left;
  width: 33.33%;
  padding: 5px;
  height: 150px;
  background-color: lightgreen;
  border: 1.5px solid black;
  overflow: auto;

}

.col6{
  float: left;
  width: 33.33%;
  padding: 5px;
  height: 150px;
  background-color: lightpink;
  border: 1.5px solid black;
  overflow: auto;

}

.col12{
  float: left;
  width: 33.33%;
  padding: 5px;
  height: 150px;
  background-color: lightgray;
  border: 1.5px solid black;
  overflow: auto;

}

.row{
  width: 100%;
}
h2{
  float: right;
  width: 100px;
  padding: 2px;
  margin: 2px;
  border: 2px solid black;
  text-align: center;
  font-size: 125%;
  background-color: green;
  color: black;
}
p{
  position: relative;
  clear: right;
}

@media(min-width: 1550px){

  .col4, .col6, .col12{

    float: left;
      width: 33.33%;

  }

}

@media(min-width: 768px) and (max-width: 991px){

  .col6, .col4{

    float: left;
      width: 50%;
      margin-left: auto;
      margin-right: auto;
      overflow: auto;

  }

  .col12{
    width: 100%;
    margin-left: auto;
    margin-right: auto;
    overflow: auto;
  }

}
@media(min-width:100px) and (max-width: 767px){
  .col4, .col6, .col12{
    float: left;
    width: 100%;
    margin-left: auto;
    margin-right: auto;
    overflow: auto;
  }
}